.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(17, 32, 168);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-header p{
  margin-top: 0;
  margin-bottom: 0;
}

.App-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.flexbox{ display: flex; }

.flex-wrap{ flex-wrap: wrap; }

.justify-center{ justify-content: center; }

.align-center{ align-items: center; }

.lista-titulo{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  color: rgb(17, 32, 168);
}

.leitura-atual,
.deseja-ler,
.lidos{
  min-height: 75px;
  padding: 25px 10px;
  border-bottom: 1px solid #ccc;
}

.livro{
  padding: 5px;
  max-width: 150px;
  font-size: 16px;
}

.livro img{
  max-height: 100px;
}

.livro p { margin-top: 0; margin-bottom: 0; }